

.nav{
    background-color: rgb(211, 211, 47);
    color: black;
    padding: 7px;

}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav ul li{
    margin-right: 30px;
    list-style-type: none;
}